*, *::before, *::after {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    background-color: #EC4D37;
    position: relative;
    overflow: hidden;
    padding-left: 3rem;
    padding-top: 2rem;
}

.content-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-grow: 1;
}

.parent {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.side-svg {
    position: fixed;
    top: 0%;
    right: -8.5%;
    height: 100%;
    z-index: -1;
}
.side-svg img {
    max-width:100%;
    height: 100%;
}

.left-circle {
    position: absolute;
    bottom: -1%;
    left: 0;
    z-index: -1;
}

.content-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;
    color: #fff;
    
}
/* .logo
{
    padding-top:5%;
} */

.content-logo {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    /* max-width:23% */
}

.content-logo img {
    max-width: 100%;
    height: auto;
}

.content-title {
    color: #fff;
    margin-bottom: 10rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}
.primary-heading {
    font-size: clamp(5rem, 5vw, 5rem);
    text-transform: uppercase;
    margin-top: 1vh;
    margin-bottom: 1vh;
    line-height: .875;
}

.secondary-heading {
    font-size: clamp(2rem, 2.2vw, 2.5rem);
}

.small-heading {
    font-size: 1.875rem;
}

.content-image {

    max-width: 40.625rem;
    /* width: 100%; */
    z-index: 10;

}

.content-image img {
    max-width: 100%;
    height: auto;
}

.marginbottom {
    margin-bottom: 2rem;
}

.side-svg-mobile {
    display: none;
}

@media screen and (max-width: 1300px) {
    html {
        font-size: 75%;
    }
}

@media screen and (max-width: 1025px) {
    html {
        font-size: 56.25%;
    }

    .side-svg {
        right: -58%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 75%;
    }

    body {
        padding: 0;
    }

    .side-svg-mobile {
        display: block;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    .content-logo img {
        width: 200px;
    }

    .content-image {
        position: static;
        width: 400px;
    }

    .content-title {
        margin-top: 3vh;
        margin-bottom: 0;
        flex-grow: 1;
    }

    .side-svg-mobile img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    .content-image img {
        max-width: 100%;
        height: auto;
    }

    .side-svg {
        display: none;
    }

    .content-main {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        flex-wrap: nowrap;
    }
    .primary-heading {
    font-size: clamp(4.75rem, 3vw, 4.5rem);
    text-transform: uppercase;
    margin-top: 1vh;
    margin-bottom: 1vh;
    line-height: .875;
}
    .parent {
        height: 100%;
        overflow: hidden;
    }

    .left-circle {
        top: -1%;
        right: -1%;
        bottom: unset;
        position: fixed;
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 436px) {
    html {
        font-size: 50%;
    }

    body {
        height: 100%;
    }

    .parent {
        height: 100%;
        overflow: hidden;
    }

    .left-circle {
        right: -32%;
    }
}

.content-icons {
    display: flex;
    margin-top: 1rem;
}

.content-icons > a {
    margin-right: 2rem;
}